.header {
    background-color: #000000;
    width: 100%;
    padding: 10px 0;
}

.header__inner {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__logo img {
    height: 40px;
}

.header__search-form {
    width: 100%;
    max-width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: white;
    padding: 5px 10px;
    margin-left: 80px;
}

.header__search-form input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    height: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
    justify-content: flex-end;
}

.header__nav a,
.header__nav button {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.header__nav .sell-button {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links a,
.sell-button {
    color: black;
    margin-left: 10px;
    text-decoration: none;
}

.sell-button {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.container {
    padding: 20px;
}

.tab-menu {
    display: flex;
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
    gap: 20px;
}

.tab-menu a {
    padding: 10px 15px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    margin-left: 20px;
}

.tab-menu a.active {
    color: red;
    border-color: red;
}

.tab {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.tab.active {
    color: red;
    font-weight: bold;
}

.product-list {
    display: flex;
    gap: 20px;
}

.product-card {
    width: 150px;
    text-align: center;
}

.product-card img {
    width: 100%;
    background: lightgray;
    padding: 10px;
}