.header {
    background-color: #000000;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__logo img {
    height: 40px;
}

.header__search-form {
    width: 100%;
    max-width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: white;
    padding: 10px 10px;
}

.header__search-form input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    height: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
    justify-content: flex-end;
}

.header__nav a,
.header__nav button {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.header__nav .sell-button {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

.purchase-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto 20px auto;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    width: 805px;
    position: absolute;
    top: 177.53px;
    left: 80px;
}

.product-image {
    width: 177px;
    height: 177px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img{
    width: 177px;
    height: 177px;
}

.product-details {
    font-size: 18px;
}

.product-name {
    font-size: 22px;
    font-weight: bold;
}

.product-price {
    font-size: 20px;
    color: black;
}

.payment-section {
    margin-top: 20px;
    width: 805px;
    position: absolute;
    top: 403px;
    left: 115px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.shipping-section {
    margin-top: 20px;
    width: 805px;
    position: absolute;
    top: 593px;
    left: 115px;
    border-bottom: 1px solid #ddd;
}

.payment-method {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.shipping-section p {
    margin: 5px 0;
}

.change-address {
    color: #3498db;
    text-decoration: none;
}

#selected-payment {
    color: #333;
    font-weight: bold;
}

.purchase-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.purchase-details {
    width: 60%;
}

.order-summary {
    width: 440px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    height: 230px;
    position: absolute;
    top: 173px;
    left: 987px;
}

.order-summary table {
    width: 100%;
}

.order-summary td {
    padding: 30px;
    border-bottom: 1px solid #ddd;
}

.purchase-button {
    background-color: #f37272;
    color: white;
    padding: 10px;
    border: none;
    width: 440px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    height: 60px;
    position: absolute;
    top: 469px;
    left: 987px;

}

.purchase-button:hover {
    background-color: #e65a5a;
}