.header {
    background-color: #000000;
    width: 100%;
    padding: 10px 0;
}

.header__inner {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__logo img {
    height: 40px;
}

.header__search-form {
    width: 100%;
    max-width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: white;
    padding: 5px 10px;
    margin-left: 80px;
}

.header__search-form input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    height: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
    justify-content: flex-end;
}

.header__nav a,
.header__nav button {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.header__nav .sell-button {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.sell-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.image-upload {
    text-align: center;
    padding: 20px;
    border: 2px dashed #000000;
    margin-bottom: 20px;
    cursor: pointer;
}

.details-section h2 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}
.submit-btn {
    display: block;
    width: 100%;
    background-color: #ff6f61;
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #ff4f41;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ff0000;
    cursor: pointer;
}


.category-btn input {
    display: none;
}

.category-btn span {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ff6f61;
    border-radius: 20px;
    color: #ff6f61;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.categories input[type="radio"]:checked+span {
    background-color: #ff6f61;
    /* 選択されたボタンの背景色 */
    color: white;
    /* テキストの色 */
    border: 1px solid #ff6f61;
    /* 枠線 */
    border-radius: 20px;
}

.details-section input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

